/**********************************
* My Custom CSS
**********************************/



body {
	font-family: 'Montserrat', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-weight: 300;
}

.section-content {
	padding: 6rem 0;
}

.section-title {
	font-size: 45px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
}

.section-subtitle {
	text-align: center;
	color: #8c8c8c;
}





/**********************************
* Logo Style
**********************************/

.site-logo {
	display: flex;
	align-items: center;
	padding: 5px 0px;
}





/**********************************
* List Style
**********************************/

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu--social {
	display: table;
	margin: auto;
}

.menu__item {
	display: inline-block;
	float: left;
}

.menu__item--social {
	margin-left: 5px;
	margin-right: 5px;
	display: table-cell;
}

.menu__item a {
	color: white;
	display: block;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 2px;
}

.menu__item--social a {
	padding: 0;
}

.menu__item a:hover {
	border-bottom: 1px solid white;
	color: rgba(255,255,255,0.6);
}

.menu__item--social a:hover {
	background: none;
}

.site-nav nav {
	float: right;
}

.active {
	border-bottom: 1px solid white;
}





/**********************************
* Stage Style
**********************************/

.stage {
	background: #000 url('../../img/stageTint.png') no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	height: auto;
	min-height: 100vh;
}

.stage-content {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
}

.stage-titles {
	min-height: 80vh;
	margin-top: 40px;
	display: flex;
	align-items: center;
}

.stage-titles .container {
	width: 100%;
}

.site-title {
	font-size: 80px;
	color: white;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 500;
}

.tagline {
	font-size: 40px;
	color: white;
	font-family: 'Montserrat';
	font-weight: 100;
}

#stage-btn {
	background-color: #fed136;
	border-color: transparent;
	font-family: 'Montserrat';
	margin-top: 3rem;
}





/**********************************
* Services Section Style
**********************************/

.services {
	text-align: center;
}

.icons {
	padding: 1rem;
}





/**********************************
* Portfolio Section Style
**********************************/

.portfolio {
	background: #f7f7f7;
}

.portfolio__desc {
	text-align: center;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.flex {
	list-style: none;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

.flex__item {
	margin-top: 3rem;
}





/**********************************
* Our Team Section Style
**********************************/

.our-team {
	background-color: #f9f9f9;
	text-align: center;
}





/**********************************
* Contact Us Section Style
**********************************/

.contact-us {
	background: url('../../img/map.png') no-repeat;
	background-size: cover;
	background-position: top center;

}

.contact-us textarea {
	resize: none;
}

#send-msg-btn {
	background-color: #fed136;
	border-color: transparent;
	font-family: 'Montserrat';
	margin-top: 1rem;
}





/**********************************
* Footer Logos Section Style
**********************************/

.footer-logos .flex__item {
	margin-top: 1rem;
}

.footer-logos .section-content {
	padding: 3rem 0 4rem 0;
}
















/**********************************
* HTML Pages Style
**********************************/

/**********************************
* Cotact Page Style
**********************************/

.contact-page {
	background-color: #f2f2f2;
	background: url('../../img/cityscape.jpg') no-repeat;
	background-size: cover;
	background-position: top center;
}

.contact-work {
	padding: 5rem;
  	background: rgba(0, 188, 212, 0.6);
	text-align: center;
	color: white;
}

.contact-play {
	padding: 5rem;
  	background: rgba(213, 93, 173, 0.6);
  	text-align: center;
  	color: white;
}

.phone-num {
	margin-top: 4rem;
	text-align: center;
	color: white;
	font-family: 'Verdana';
}

.contact-page__address {
	color: white;
	text-align: center;
}

.contact-page a {
	color: white;
	text-decoration: none;
}

.contact-page .section-subtitle {
	color: black;
}





/**********************************
* Cotact Page Style
**********************************/

.services-page__head {
	background: url('../../img/request.jpeg') no-repeat;
	background-size: cover;
	background-position: center;
}

.services-page {
	background-color: #f2f2f2;
}

.services-page__tagline {
	color: #595959;
}

/*.services__item {
	background: gray;
	color: white;
	text-align: center;
	padding: 1rem 1rem;
	margin: 1rem;
}*/

.services-page .flex__item {
	width: auto;
	width: 350px;
	height: 300px;
	background-color: tomato;
	color: white;
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
  	overflow: auto;
  	margin-top: 3rem;
  	padding: 1%;
  	line-height: 1.3;
  	text-align: center;
}

.services-page .flex__item a {
	text-decoration: none;
	color: white;
}

.services-page .flex__item a:hover {
	color: blue;
}

.request-bg	{
	background: url('../../img/computer.jpg') no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 0;
}

.request-bg__text-container {
	background-color: rgba(0,0,0,0.6);
	padding: 5rem 3rem;
	color: white;
}